html, body {
  padding: 0;
  margin: 0;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 24px;
  background-color: #f5f5f5;
}

/*---------------------------
        SIDE MENU
---------------------------*/

.side-menu {
  width: 220px;
  background-color: #0a3d62;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.link.active {
  text-decoration: underline;
}